@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
  background: linear-gradient(169deg, #2e335a 3.28%, #1c1b33 95.89%);
  backdrop-filter: blur(1px); /* Adjust the blur effect as needed */
  padding: 16px;
  border-radius: 22px;
  border: 1px solid #fff;
}

body {
  font-family: Roboto;
}

.input-style {
  border-radius: 10px;
  background: linear-gradient(
    168deg,
    rgba(46, 51, 90, 0.26) 1.62%,
    rgba(28, 27, 51, 0.26) 95.72%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


@media screen and (max-width: 600px) {
  .glass-bg {
    border-radius: 0;
  }
}



.bg {
  max-width: 390px;
  width: 100%;
  height: 844px;
  margin: auto;
  background: #EBEBEB; 
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 292px;
 background: #EBEBEB;
box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.11), -4px -4px 12px 0px rgba(255, 255, 255, 0.50);
background-position: center;
background-image: url("/Ellipse1.png");
background-repeat: no-repeat;
  overflow: hidden;
  padding: 80px;
}

.clock::after {
  background: #aaa;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_hand {
  position: absolute;
  width: 6px;
  height: 60px;
  border-radius: 5px;
  background:black;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 4px;
  height: 80px;
  border-radius: 5px;
  background:black;
  top: 23.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 2px;
  height: 118px;
  border-radius: 5px;
  background: #6DA18C;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 10px;
  top: 46%;
}

.four {
  right: 30px;
  top: 67%;
}

.five {
  right: 78px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 50%;
}

.seven {
  left: 80px;
  top: 82%;
}

.eight {
  left: 30px;
  top: 67%;
}

.nine {
  left: 10px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}

.inner-background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: url("/Ellipsenpm4.png");
  background-repeat: no-repeat;
  background: #EBEBEB;
box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.11), -4px -4px 12px 0px rgba(255, 255, 255, 0.50);
  border-radius: 50%;
}


@media (max-width: 768px) {
  .bg {
    height: 100vh; /* Override the height for screens up to 768px wide */
    border-radius: 0;
  }
}





